@font-face {
    src: url('fonts/Oswald-Regular.ttf');
}

.root-pane {
    -fx-background-image: url('images/green_felt.png');
    -fx-background-size: cover;
    -fx-font-family: 'Oswald';
}

.title-label {
    -fx-font-size: 64px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 10, 0.3, 0, 2);
}

.label {
    -fx-text-fill: #E0E0E0;
    -fx-font-size: 18px;
}
.label-nombre-cpu {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: linear-gradient(#5A3821, #402818);
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-border-color: #C9A46D;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0.1, 0, 1);
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: linear-gradient(#6B442A, #50321F);
    -fx-effect: dropshadow(gaussian, rgba(255,215,0,0.4), 15, 0.0, 0, 0); /* Brillo dorado */
}
.button:pressed {
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
}


.choice-box {
    -fx-background-color: #402818;
    -fx-mark-color: #C9A46D;
    -fx-border-color: #C9A46D;
    -fx-border-width: 1px;
}
.choice-box .context-menu { -fx-background-color: #402818; }
.choice-box .menu-item:focused { -fx-background-color: #6B442A; }
.choice-box .label { -fx-text-fill: white; -fx-font-size: 16px; }

#sumaLabel {
    -fx-font-size: 48px;
    -fx-text-fill: #FFD700; /* Dorado */
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-background-radius: 10px;
    -fx-padding: 5 15;
    -fx-border-color: #FFD700;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.5), 10, 0.0, 0, 0);
}

#mensajeLabel {
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-font-style: italic;
}